{% extends 'base.html' %}
{% load static %}


  <!--tables-->
  {% block content %}
  <h1>{{id.name}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
        <th scope="row">{{i.userId}}</th>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.body}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


<h1>I'm inside in first app</h1>
<img src="{% static 'images/batman.jpeg' %}" alt= "batman_app" />


{% endblock %}
